form(*ngIf="!deleting", (ngSubmit)="onSubmit()", [formGroup]="createEditSprintForm", novalidate)
    h2.title(translate="LIGHTBOX.ADD_EDIT_SPRINT.TITLE")
    fieldset
        input.sprint-name.e2e-sprint-name(
            type="text",
            name="name",
            formControlName="name",
            [placeholder]="'LIGHTBOX.ADD_EDIT_SPRINT.PLACEHOLDER_SPRINT_NAME' | translate"
        )
        tg-field-error([control]="createEditSprintForm.controls.name")
        label.last-sprint-name(
            *ngIf="!editingSprint",
            [innerHTML]="'LIGHTBOX.ADD_EDIT_SPRINT.LAST_SPRINT_NAME' | translate:{lastSprint: lastSprint?.get('name')}"
        )

    fieldset.dates
        div
            tg-date-picker.date-start(
                formControlName="startDate",
                [placeholder]="'LIGHTBOX.ADD_EDIT_SPRINT.PLACEHOLDER_SPRINT_START' | translate"
            )
        div
            tg-date-picker.date-end(
                formControlName="endDate",
                [placeholder]="'LIGHTBOX.ADD_EDIT_SPRINT.PLACEHOLDER_SPRINT_END' | translate"
            )

    button.button-green.submit-button(
        *ngIf="!editingSprint",
        type="submit",
        [title]="'COMMON.CREATE' | translate",
    )
        span(translate="COMMON.CREATE", *tgLoading="'creating-sprint'")

    button.button-green.submit-button(
        *ngIf="editingSprint",
        type="submit",
        [title]="'COMMON.SAVE' | translate",
    )
        span(translate="COMMON.SAVE", *tgLoading="'updating-sprint'")

    a.delete-sprint(
        *ngIf="editingSprint",
        (click)="deleting = true",
        [title]="'LIGHTBOX.ADD_EDIT_SPRINT.TITLE_ACTION_DELETE_SPRINT' | translate"
    )
        span(translate='LIGHTBOX.ADD_EDIT_SPRINT.ACTION_DELETE_SPRINT')
        tg-svg(svg-icon="icon-trash")

div.ask(*ngIf="deleting")
    h2.title(translate="LIGHTBOX.DELETE_SPRINT.TITLE")
    p
      span.subtitle(translate="NOTIFICATION.ASK_DELETE")
      span.message {{editingSprint.get('name')}}
    .options
        a.button-green(
          [title]="'COMMON.ACCEPT' | translate",
          (click)="deleteSprint(editingSprint)"
        )
          span(translate="COMMON.ACCEPT", *tgLoading="'deleting-sprint'")
        a.button-red(
          [title]="'COMMON.CANCEL' | translate",
          (click)="deleting = false"
        )
          span(translate="COMMON.CANCEL")
