div.change-password-form-container
    p.change-password-text
        strong(translate="CHANGE_PASSWORD_RECOVERY_FORM.TITLE")
        br
        span(translate="CHANGE_PASSWORD_RECOVERY_FORM.SUBTITLE")

    form((ngSubmit)="onSubmit($event)", [formGroup]="changePasswordForm", novalidate)
        fieldset
            input(
                type="password",
                name="password",
                id="password",
                tg-capslock,
                formControlName="password",
                required,
                [placeholder]="'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_NEW_PASSWORD' | translate"
            )
            tg-field-error([control]="changePasswordForm.controls.password")
        fieldset
            input(
                type="password",
                name="password2",
                id="password2",
                tg-capslock,
                formControlName="password2",
                required,
                [placeholder]="'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_RE_TYPE_NEW_PASSWORD' | translate"
            )
            tg-field-error([control]="changePasswordForm")

        fieldset
            button.button-change-password.button-gray.submit-button(
                type="submit",
                [title]="'CHANGE_PASSWORD_RECOVERY_FORM.ACTION_RESET_PASSWORD' | translate",
                translate="CHANGE_PASSWORD_RECOVERY_FORM.ACTION_RESET_PASSWORD"
            )
