div.row.table-main.visualization
    tg-svg(svg-icon="icon-drag")
    div.project-values-name
        span {{ value.get('name') }}

    div.project-values-value
        span {{ value.get('value') }}

    div.project-values-settings
        a.edit-value((click)="edit.emit(value.get('id'))")
            tg-svg(
                [title]="'ADMIN.COMMON.TITLE_ACTION_EDIT_VALUE' | translate",
                svg-icon="icon-edit"
            )
        a.delete-value((click)="delete.emit(value.get('id'))")
            tg-svg(
                title="'ADMIN.COMMON.TITLE_ACTION_DELETE_VALUE' | translate",
                svg-icon="icon-trash"
            )


