div.forgot-form-container
    p.forgot-text
        strong(translate="FORGOT_PASSWORD_FORM.TITLE")
        br
        strong(translate="FORGOT_PASSWORD_FORM.SUBTITLE")

    form((ngSubmit)="onSubmit()", [formGroup]="forgotPasswordForm", novalidate)
        fieldset
            input(
                type="text",
                autocorrect="off",
                autocapitalize="none",
                name="username",
                formControlName="username",
                [placeholder]="'FORGOT_PASSWORD_FORM.PLACEHOLDER_FIELD' | translate"
            )
            tg-field-error([control]="forgotPasswordForm.controls.username")

        fieldset
            button.button-gray.submit-button.button-forgot(
                type="submit",
                [title]="'FORGOT_PASSWORD_FORM.ACTION_RESET_PASSWORD' | translate",
                translate="FORGOT_PASSWORD_FORM.ACTION_RESET_PASSWORD"
            )

        a(routerLink="/login", [queryParams]="queryParams", translate="FORGOT_PASSWORD_FORM.LINK_CANCEL")
