form([formGroup]="form", novalidate, (ngSubmit)="onSubmit($event)")
    fieldset
        label(for="current-password", translate="CHANGE_PASSWORD.FIELD_CURRENT_PASSWORD")
        input(
            type="password",
            name="password",
            id="current-password",
            formControlName="currentPassword",
            tg-capslock,
            [placeholder]="'CHANGE_PASSWORD.PLACEHOLDER_CURRENT_PASSWORD' | translate"
        )
        tg-field-error([control]="form.controls.currentPassword")

    fieldset
        label(for="new-password", translate="CHANGE_PASSWORD.FIELD_NEW_PASSWORD")
        input(
            type="password",
            name="new-password",
            id="new-password",
            formControlName="newPassword",
            tg-capslock,
            [placeholder]="'CHANGE_PASSWORD.PLACEHOLDER_NEW_PASSWORD' | translate"
        )
        tg-field-error([control]="form.controls.newPassword")

    fieldset
        label(for="retype-password", translate="CHANGE_PASSWORD.FIELD_RETYPE_PASSWORD")
        input(
            type="password",
            name="retype-password",
            id="retype-password",
            formControlName="repeatPassword",
            tg-capslock,
            [placeholder]="'CHANGE_PASSWORD.PLACEHOLDER_RETYPE_PASSWORD' | translate"
        )
        tg-field-error([control]="form.controls.repeatPassword")

    fieldset
        button.button-green.submit-button(
            type="submit",
            [title]="'COMMON.SAVE' | translate",
            translate="COMMON.SAVE"
        )
